@using FamilyBudget.Entities;
@using FamilyBudget.ExtensionMethods

@{
    
    User? loggedUser = this.ViewContext.HttpContext.Session.GetObject<User>("loggedUser");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Information">BudgetManager</a>
                @if (loggedUser != null)
                {
                    <button class="navbar-toggler btn-menu" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Balance</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="0" asp-controller="Home" asp-action="TransactionList" asp->Transactions</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @loggedUser.Name
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/User/Profile?Id=@loggedUser.Id">Profile</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/User/Logout">Logout</a></li>
                                </ul>
                            </li>
                            <form asp-action="Search" asp-controller="Home" class="form-inline">
                                @Html.TextBox("search", null,
                                new { htmlAttributes =
                                new {@class = "form-control mr-sm-2", placeholder ="Search by description" , @type="search"}})
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </ul>

                    </div>
                }
                
               
            </div>
        </nav>
       
        
    </header>
    <div class="container container-main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            
            &copy; BudgetManager by Aygyun Ahmed &copy;
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
